@use "./var";

:root {
  .marcellus-sc-regular {
    font-family: "PT Serif", serif;
    //   font-weight: 400;
    //   font-style: normal;
  }
}

body {
  background-color: var.$background-color;
}
a {
  text-decoration: none;
  color: var.$text-color;
}
img {
  max-width: 100%;
}
button {
  padding: 0.7rem 3rem;
  background-color: var.$btn-color;
  color: white;
  border-radius: 10px;
  border: 1px solid var.$btn-color;
  margin-top: 2rem;
}
textarea {
  color: gray;
  font-style: italic;
  background-color: lightgray;
}
input {
  background-color: lightgray;
}
